# Ignore venv
.venv/

# Ignore .env file
.env

# Ignore unnecessary Python files
__pycache__/

# Ignore build artifacts
*.egg-info/
dist/

# Ignore pytest files
.pytest_cache/

# Ignore coverage report
coverage/

# Ignore Jupyter notebooks
*.ipynb

# Ignore FastAPI documentation
docs/

# Ignore miscellaneous files
*.db